<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - App Name</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/accountlayout/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu&amp;subset=latin">

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div id="main">

        <div id="block-left">

            <span id="logo-name">Logo y Nombre de la Empresa</span>

        </div>
        <div id="blockbody">
            @RenderBody()
        </div>

        <footer>
            <p><span style="font-size: 12px;"><a href="#">About</a> | <a href="#">Contact</a></span></p>
            <p><span style="font-size: 12px;">Copyright © 2013. All Rights Reserved.</span></p>
        </footer>


    </div>


    @Scripts.Render("~/bundles/account")
    @RenderSection("scripts", required: false)
</body>
</html>

