@model WebPortfolio.Models.LoginModel
<section id="loginForm">

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <ul class="input login-fieldset" >


            <li id="form-login-username">
                @Html.LabelFor(m => m.UserEmail)
                @Html.TextBoxFor(m => m.UserEmail, new { @id = "modlgn_username" })
                @Html.ValidationMessageFor(m => m.UserEmail)
            </li>


            <li id="form-login-password">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>

            <li id="form-login-remember">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @id = "modlgn_remember", @class = "checkbox" })
            </li>

            <li>
                <div>
                    <input type="submit" value="Log in" class="button" />
                </div>
            </li>

            <li>
                @Html.ActionLink("Register", "Register", null, new {@id= "register-link" }) if you don't have an account.                
            </li>

        </ul>     
        
    }
</section>


<section class="blockcontent" id="socialLoginForm">
    <br />

    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl, })

</section>
